{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Bills{% endblock %}

{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" >
{% include 'navbar.html' %}

<html>
<div class = "container">
  <div id="row">
    <div class="col-lg-2 col-md-2">
    </div>
    <div class = "col-lg-8 col-md-8" id="list-card">
      <div id="card-title"> 
<!--         <div class="col-lg-2 col-md-2">     
          <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/fh03.png" class="img-rounded">
        </div> -->
        <h1>All bills with {{ friend.get_full_name }}</h1> 

      </div>

      <div class="card-content">
        <table class="table table-hover">
          {% for bill in bills %}
          <tr>
            <td style="text-align:center;">{{  bill.description  }}</td>
            <td style="text-align:right; width=50px;">{{  bill.bill_time  }}</td>
            <td class = "netamount" style="text-align:right; font-size: 120%; font-weight: bold; color: #336699;">$</td>
            <td id="netamount">{{  bill.net_amount  }}</td>
          </tr>
          {% endfor %}
          <tr id="totalbill">
            <td><h3 style="text-align:center;">Total bill: </h3></td>
            <td><h3 style="text-align:right; color: #0099cc; font-weight:bold;">$&nbsp;&nbsp;{{ total_amount }}</h3></td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-lg-2 col-md-2"></div>
  </div>
</div>
</html>

{% include 'footer.html' %}
{% endblock %}

