	<div class="footer">
		<div class="container" id="footerContainer">
			<div class="row">
				<div class="col-md-3">
					<h4>About us</h4>
				</div>
				<div class="col-md-3">
					<h4>Copyright</h4>
				</div>
				<div class="col-md-3">
					<h4>Help</h4>
				</div>
				<div class="col-md-3">
					<h4>Call 911</h4>
				</div>
			</div>
			<p>Bills with friends is a website for spliting bills with your friends. But if your name is Bill, it doesn't mean that our website could teach to how to make good friends. To make friends, you have to make so much effort. We belive that, annoying people should die alone.</p>
		</div>
	</div>