{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class = "container" id="homeContainer">
	<div class = "row">
		<div id="left-sidebar" class = "col-lg-3 col-md-3">
			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Recent Activity</a></li>
					<li><a href="#">All Expenses</a></li>
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->
		</div>

		<div class = "col-lg-6 col-md-6">
			<h1>Welcome, {{ user.get_full_name }} </h1>

		</div>

		<div id = "right-sidebar" class = "col-lg-2 col-md-2">
      <div>Friend List</div>
      <br><br><br>
			
			<div id="friend-list">
				{% for friend in friends %}
				<div>
          <a href="{% url 'bill_list' pk=friend.pk %}">{{ friend.get_full_name }}</a>
        </div>
				{% endfor %}
			</div>

		</div>
	</div><!-- end of row -->
</div> <!-- end of container -->



{% endblock %}
