{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" >
{% include 'navbar.html' %}

<div class = "container" id="homeContainer">
	<div class = "row">
		<div id="left-sidebar" class = "col-lg-3 col-md-3">
			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Recent Activity</a></li>
					<li><a href="#">All Expenses</a></li>
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->
		</div>

		<div class = "col-lg-6 col-md-6">
			<h1>Welcome, {{ user.get_full_name }} </h1>

		</div>

		<div id = "right-sidebar" class = "col-lg-2 col-md-2">
			plan to put friend list here.<br><br><br>

			<br>Noah	<br>Sophia
			<br>Liam	<br>Emma
			<br>Jacob	<br>Olivia
			<br>Mason	<br>Isabella
			<br>William	<br>Ava
			<br>Ethan	<br>Mia
			<br>Michael	<br>Emily
			<br>Alexander<br>Abigail
			<br>Jayden	<br>Madison
			<br>Daniel	<br>Elizabeth
			
			<div id="friend-list">
				{% for friend in friends %}
				<div>{{ friend }}</div>
				{% endfor %}
			</div>

		</div>
	</div><!-- end of row -->
</div> <!-- end of container -->



{% endblock %}
